




.form-style-4{
	width: 100%;
	font-size: 16px;
	background: #5f96d1;
	padding: 30px 30px 15px 30px;
	border: 5px solid #53687E;
	border-radius: 20px;
}

.form-style-4 textarea,

.form-style-4 label {
	font-size: 20px;
	display:block;
	margin-bottom: 10px;
	color: black;
}

.form-style-4 input[type=text]
{
	color: white;
	background: transparent;
	border: none;
	border-bottom: 1px dashed black;
	width: 100%;
	outline: none;
	padding: 0px 0px 0px 0px;

}
.form-style-4 textarea{
	/* font-style: italic; */
	padding: 0px 0px 0px 0px;
	background: transparent;
	outline: none;
	border: none;
	border-bottom: 1px dashed black;
    width: 100%;
    overflow: hidden;
	resize: vertical ;
	height:60px;
	color: white;
}

.form-style-4 textarea:focus, 
.form-style-4 input[type=text]:focus,
.form-style-4 input[type=email]:focus,
.form-style-4 input[type=email] :focus
{
	border: 5px solid #53687E;
	border-radius: 10px;
}

.form-style-4 input[type=submit],
.form-style-4 input[type=button]{
	background: #576E86;
	border: none;
	padding: 8px 10px 8px 10px;
	border-radius: 5px;
	color: white;
}
.form-style-4 input[type=submit]:hover,
.form-style-4 input[type=button]:hover{
background: #394D61;
}